/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* VARIAVEIS */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  background-color: #F9F9F9;
  -webkit-font-smoothing: auto;
  width: 100%;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  margin: 5rem 0;
}

.section .title {
  margin-bottom: 1rem;
}

#header {
  border-bottom: 0.06rem solid #D3CADD;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #F9F9F9;
}

main {
  margin-top: calc(4.5rem + 2rem);
}

/* === LOGO =================== */
.logo {
  font: 700 1.3125rem "Poppins", sans-serif;
  color: #261932;
}

.text-colored {
  color: #A152EF;
}

header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

/* === NAVIGATION =================== */
#header nav {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul .title {
  margin-bottom: 0;
}

nav ul li a {
  transition: color 0.2s ease-in-out;
  position: relative;
}

nav ul li a:hover {
  color: #A152EF;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #A152EF;
  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TOGGLE MENU */
.toggle {
  color: #A152EF;
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
  top: -1.5rem;
  transition: top 0.3s ease-in-out;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

#header nav .menu {
  visibility: hidden;
  opacity: 0;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* SHOW MENU */
#header nav.show .menu {
  visibility: visible;
  opacity: 1;
  background-color: #F9F9F9;
  height: 100vh;
  width: calc(100%);
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

#home .container {
  margin: 0;
}

#home .image-box {
  position: relative;
  overflow: hidden;
}

#home .image-box img {
  width: 100%;
  position: relative;
  height: 100%;
  right: 2.06rem;
  top: 16.8%;
}

#home .image-box::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #A152EF;
  position: absolute;
  /* top: -16.8%; */
  left: 11.2%;
}

#home .image-box img,
#home .image-box::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

/* TEXTOS */
.title {
  font: 700 1.85rem "Poppins", sans-serif;
  color: #261932;
  line-height: 2.81rem;
}

main section .text p {
  color: #261932;
  max-width: 100%;
  margin-bottom: 2rem;
}

/* BUTTONS */
.btn-template {
  background-color: #A152EF;
  border-radius: 0.25rem;
  padding: 0.93rem 2rem;
  transition: all 0.3s ease-in-out;
  color: #F9F9F9;
  font: 500 1rem "DM Sans", sans-serif;
  padding: 1.12rem 2rem;
}

#home .btn-template:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 10px 1px black;
}

/* BAR DIVIDER SECTIONS */
.divider-1 {
  background-color: #D3CADD;
  height: 1px;
}

/* ===== ABOUT ================================*/
#about {
  background-color: #F9F9F9;
  margin-top: calc(4.5rem + 2rem);
}

#about .container {
  margin: 0;
}

#about .image-box img {
  width: 100%;
}

#about .image-box {
  position: relative;
}

#about .image-box img {
  position: relative;
}

#about .image-box::before {
  content: "";
  width: 80%;
  height: 100%;
  background-color: #A152EF;
  position: absolute;
  top: -8.3%;
}

#about .image-box img,
#about .image-box::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ===== SERVICES ================================*/
main > section#services header {
  margin-bottom: 4rem;
}
main > section#services p > strong {
  color: #A152EF;
}
main > section#services .cards .grid {
  gap: 1.5rem;
}
main > section#services .cards .card {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  padding: 3.62rem 2rem;
  border-bottom: 0.25rem solid #A152EF;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-align: center;
}
main > section#services .cards .card .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}
main > section#services .cards i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: #A152EF;
}

/* ===== TESTIMONIALS ================================*/
#testimonials {
  background-color: #FFF;
}
#testimonials .testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}
#testimonials .testimonials blockquote p {
  margin-bottom: 1.5rem;
}
#testimonials .testimonials blockquote p span {
  font: 700 3rem "serif";
  color: #A152EF;
}
#testimonials .testimonials blockquote cite {
  display: flex;
  align-items: center;
  font-style: normal;
  color: #767676;
}
#testimonials .testimonials blockquote cite img {
  width: 2rem;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* ===== SWIPE SLIDES ================================*/
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active {
  background: #A152EF;
}

.swiper-pagination-bullet {
  background: #261932;
}

/* ===== CONTACT ================================*/
section#contact .grid {
  gap: 4rem;
}
section#contact .text p {
  margin-bottom: 2rem;
}
section#contact .text i {
  font-size: 1.5rem;
  margin-right: 0.6rem;
}
section#contact .links ul {
  display: grid;
  gap: 2rem;
  list-style: none;
}

/* ===== FOOTER ================================*/
footer {
  padding: 5rem 0;
  background-color: #A152EF;
}
footer .brand {
  color: #F9F9F9;
  margin-bottom: 0.75rem;
}
footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}
footer .logo span {
  color: #F9F9F9;
}
footer .social a {
  margin-right: 2rem;
}
footer .social i {
  color: #261932;
  font-size: 1.5rem;
}

.back-to-top {
  background-color: #A152EF;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 0.3rem;
  clip-path: circle();
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}
.back-to-top img {
  width: 30px;
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/*# sourceMappingURL=style.css.map */
