/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif; */
}

a {
  text-decoration: none;
  cursor: pointer;
  display: block;
}

/* VARIAVEIS */
:root {
  --purple: #A152EF;
  --purple-2: #D3CADD;
  --dark-purple: #261932;
  --white: #FFF;
  --white-2: #F9F9F9;
}

body {
  font: 400 1rem 'DM Sans', sans-serif;
  background-color: var(--white-2);
  -webkit-font-smoothing: auto;
  width: 100%;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  margin: 5rem 0;
}

main {
  margin-top: 6.8rem;
}

#header {
  border-bottom: 0.06rem solid var(--purple-2);
  display: flex;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--white-2);
}

#header nav {
  height: 4.5rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo {
  font: 700 1.3125rem 'Poppins', sans-serif;
  color: var(--dark-purple);
}

#header .logo .text-colored {
  color: var(--purple);
}

.main-img {
  width: 100%;
  height: auto;
}

#home {
  /* overflow: hidden; */
}

#home .container {
  margin: 0;
}

#home .image-box {
  position: relative;
}

#home .image-box img {
  position: relative;
  height: 100%;
  right: 2.06rem;
  top: 16.8%;
  
}

#home .image-box::before {
  content: '';
  width: 88%;
  height: 100%;
  background-color: var(--purple);
  position: absolute;  
  /* top: -16.8%; */
  left: 11.2%;
}


#home .image-box img,
#home .image-box::before {
  border-radius: 0.25rem;
}

#home .text {  
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

/* TEXTOS */
main section .text h1 {
  font:  700 1.85rem 'Poppins', sans-serif;
  color: var(--dark-purple);
  line-height: 2.81rem;
  margin-bottom: 1rem;
  margin-top: 1.93rem;
}

main section .text p {
  color: var(--purple-2);
  max-width: 100%;
  margin-bottom: 2rem;
}

/* BUTTONS */
#home .btn-template {
  background-color: var(--purple);
  border-radius: 0.25rem;
  padding: 0.93rem 2rem ;
  transition: all 0.3s ease-in-out;
  color: var(--white-2);
  font: 500 1rem 'DM Sans', sans-serif;
}

#home .btn-template:hover {
  opacity: 0.9;
  box-shadow: 1px 1px 10px 1px black;
}

/* BAR DIVIDER SECTIONS */
.divider-1 {
  background: linear-gradient(270deg, var(--purple) 0%, var(--dark-purple) 100%);
  height: 1px;
}
